* {
  padding: 0;
  margin: 0;
  color: hsla(0, 0%, 100%, 1);
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

html,
body {
  font-size: 62.5%;
  background: hsla(0, 0%, 17%, 1);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 121.6rem;
}

@media (max-width: 1214px) {
  .container {
    max-width: 63rem;
  }
}

@media (max-width: 628px) {
  .container {
    max-width: 33.2rem;
  }
}

h1 {
  font-size: 3.2rem;
  margin: 6.4rem 0rem;
  text-align: center;
}

/* Styles Input Password */
.s-passwd {
  background: #595f65;
  padding: 1.6rem;
  width: 100%;
  max-width: fit-content;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

#i-passwd {
  font-size: 2.4rem;
  color: #ebc771;
  outline: none;
  width: 100%;
  background: transparent;
}

#i-passwd::placeholder {
  color: #000000;
}

.btn-eye {
  height: 3.6rem;
  width: 3.6rem;
  padding: 0.2rem;
  background: transparent;
  border-radius: 0.4rem;
  transition: all 0.3s ease-in;
}

.btn-eye:hover {
  cursor: pointer;
  background: #ebc77150;
}

.eye-passwd {
  width: 3.2rem;
  height: 3.2rem;
}
