.pulse-up {
  animation: pulse 6s linear infinite;
}

@keyframes pulse {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(0rem);
  }
  75% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.pulse-down {
  animation: pulsdown 6s linear infinite;
}

@keyframes pulsdown {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0rem);
  }
  75% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
