header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 8.8rem;
  display: flex;
  width: 100%;
  border-bottom: 2px solid rgba(0, 113, 206, 0.09);
  transition: background-color 0.3s;
  .container {
    @include flex(row, center, space-between);
    position: relative;
  }
  .logo {
    position: relative;
    z-index: 10;
    &:hover {
      opacity: 0.8;
    }
  }
  nav {
    display: flex;
    align-items: center;

    #btn-mobile {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        cursor: pointer;
        position: relative;
        &:not(:first-child) {
          margin-left: 4.8rem;
        }

        a {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 125%;
          color: $white;
          transition: color 0.3s;
          &:hover {
            color: $yellow;
          }
        }

        #drop-down {
          position: absolute;
          left: -15rem;
          top: 2rem;
          visibility: hidden;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 42rem;
          background-color: #fff;
          padding: 4.9rem 0 4.2rem 4.3rem;
          border-radius: 0.6rem;
          border-bottom: 5px solid #ffc800;
          transition: all 0.4s ease-in-out;
          overflow-y: hidden;
          pointer-events: none;
          &::before {
            content: "";
            top: -0.7rem;
            left: 50%;
            position: absolute;
            width: 1.4rem;
            height: 1.4rem;
            background-color: $white;
            transform: rotate(45deg);
            border-radius: 0.3rem;
          }

          &.open-menu {
            visibility: visible;
            overflow-y: visible;
            opacity: 1;
            pointer-events: all;
            top: 5.4rem;
          }

          li {
            width: 100%;
            &:not(:first-child) {
              margin: 0;
            }
            &:not(:last-child) {
              margin-bottom: 2.8rem;
            }

            &:hover {
              a {
                span {
                  color: $blue;
                }
              }
            }

            a {
              color: $gray--100;
              font-size: 1.4rem;
              line-height: 150%;
              &:hover {
                color: $gray--100;
              }

              span {
                display: block;
                text-align: left;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: $gray--75;
                margin-bottom: 0.4rem;
              }
            }
          }
        }
      }

      .btn_outline {
        display: none;
      }
    }
  }

  .btn_outline {
    position: relative;
    z-index: 29;
  }

  @include responsive(1144px) {
    nav {
      ul {
        margin-right: 3rem;
        li {
          &:not(:first-child) {
            margin-left: 2rem;
          }
        }
      }
    }
  }

  @include responsive(1002px) {
    nav {
      ul {
        margin-right: 1rem;
        li {
          &:not(:first-child) {
            margin-left: 1rem;
          }
        }
      }
    }

    .btn_outline {
      margin-right: 5.8rem;
    }
  }

  @include responsive(991px) {
    .logo {
      max-width: 10.8rem;
    }
    nav {
      ul {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
        background: $blue;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.4s;
        z-index: 1;

        li {
          @include flex(column, center, center);
          &:first-child {
            margin-top: 8.8rem;
            border-top: 2px solid rgba(255, 255, 255, 0.2);
            padding-top: 3rem;
          }
          &:not(:first-child) {
            margin: 0;
          }
          a {
            padding: 2rem 0;
            text-align: center;
            font-size: 1.8rem;
          }

          #drop-down {
            display: none;
          }
        }
      }

      &.active {
        ul {
          visibility: visible;
          overflow-y: auto;
          left: 0;
          height: 100vh;
        }

        #btn-mobile {
          position: absolute;
          z-index: 20;
          span {
            background-color: transparent;
            &::before {
              transform: rotate(135deg);
            }

            &::after {
              transform: rotate(-135deg);
              top: -8px;
              width: 27px;
            }
          }
        }
      }

      #btn-mobile {
        display: flex;
        padding: 2rem 1rem;
        font-size: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 1.5rem;
        top: 1rem;

        span {
          transition: 0.3s;
          width: 2.7rem;
          height: 0.3rem;
          background-color: $white;
          border-radius: 5px;
          display: block;

          &::after,
          &::before {
            content: "";
            display: block;
            width: 1.5rem;
            height: 0.3rem;
            background-color: $white;
            margin-top: 0.5rem;
            transition: 0.3s;
            position: relative;
            border-radius: 0.5rem;
            float: right;
          }

          &::before {
            margin-top: 8px;
            width: 27px;
          }
        }
      }
    }
  }

  @include responsive(480px) {
    nav {
      ul {
        .btn_outline {
          display: block;

          &.white {
            margin: 0 auto;
            margin-top: 4rem;
          }
        }
      }
    }
    .btn_outline {
      display: none;
      margin: 0;
    }
  }
}

.bgOn {
  background-color: $blue;
}
