@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin responsive($maxwidth) {
  @media (max-width: $maxwidth) {
    @content;
  }
}
