// Brand Colors
$yellow: #ffc800;
$yellow--hover: #ffdc5c;
$yellow--text: #855b35;
$blue: #00a5f0;
$blue--high: #0073ce;
$blue--low: #00d7d7;
$gradient: linear-gradient(99.31deg, #00a5f0 7.94%, #00d7d7 95.32%);

// Color Neutral
$dark: #33303e;
$light: #f1f0f5;
$white: #ffffff;
$black: #000000;

// Gary Scale
$gray--100: #4e4b59;
$gray--75: #5f5c6b;
$gray--50: #7a7786;
$gray--25: #c6c5ce;
