$white: #FFFFFF;
$black: #000000;
$gray-1: #453F51;
$gray-2: #5E5570;
$purple-light: #744EBB;
$purple: #5F3CA1;
$purple-dark: #54358E;
$green: #00FF84;
$blue: #4DCBD3;
$yellow: #FFBF00;
$yellow-hover: #F6D36C;
$pink: #FF3B93;
