/* 
===== índice =====
  1° Mixins
  2° Responsive
==================
*/

/* 
===== Mixins ===== 
*/
/* Set Media Queries */
@mixin responsive($maxwidth) {
  @media (max-width: $maxwidth) {
    @content;
  }
}
/* Set Flexbox */
@mixin flex($direction, $wrap, $align, $justify) {
  display: flex;
  flex-flow: $direction $wrap;
  align-items: $align;
  justify-content: $justify;
}
/* 
===== Responsive ===== 
*/
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 121.6rem;
  @include responsive(1214px) {
    max-width: 63rem;
  }
  @include responsive(628px) {
    max-width: 33.2rem;
  }
}
