/* ===============
  Índice

  1. Mixins
  2. Paleta de Cores
  2.1 Cores Padrões
  2.2 Cores da Marca
  2.3 Escala de Cinza
  2.4 Gradient
  3. Headings
  4. Conaitner/Grid
  =============== */

/* 1 Mixins */
@mixin flex($direction, $wrap, $align, $justfy) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justfy;
}

@mixin responsive($maxwidth) {
  @media (max-width: $maxwidth) {
    @content;
  }
}

/* 2 Paleta de Cores */
// 2.1 Cores Padrões
$dark: rgba(36, 36, 36, 1);
$light: rgba(255, 255, 255, 1);
// 2.2 Cores da Marca
$yellow: rgba(255, 206, 46, 1);
$blue: rgba(0, 109, 143, 1);
// 2.3 Escala de Cinza
$gray-1: rgba(97, 97, 97, 1);
$gray-2: rgba(196, 196, 196, 1);
$gray-3: rgba(250, 250, 250, 1);
// 2.4 Gradient
$gradient: linear-gradient(98.6deg, #020302 7.61%, #242424 96.26%);

/* 3 Headings */
h1 {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 5.9rem;
  @include responsive(991px) {
    font-size: 4rem;
    line-height: 4.9rem;
  }
}

h2 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.9rem;
  @include responsive(991px) {
    font-size: 3.2rem;
    line-height: 3.9rem;
  }
}

h3 {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;
  @include responsive(991px) {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}

h4 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

p {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

span {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-family: "Inter";
}

/* 4 Container/Grid */
.container {
  width: 100%;
  max-width: 125.6rem;
  margin: 0 auto;
  padding: 0rem 2rem;
  @include responsive(1024px) {
    max-width: 64rem;
  }
  @include responsive(600px) {
    max-width: 45.4rem;
  }
  @include responsive(480px) {
    max-width: 37.2rem;
  }
}
